$primary: rgb(0, 204, 255);
$secondary: rgb(17, 46, 99);
$tertiary: blue;
$accent: #b4b4b4;
$shadow: $accent;

// Sizes
$height_image: 15rem; 
$height_button: 1.5rem;

// Typography
$font-family-headings: "Raleway", sans-serif;
$font-family-body: "Open Sans", sans-serif;
