$primary: #08e062;
$primary-soft: #2c6ecf;
$secondary: #fff;
$bg-body: #fff;
$bg-body-gradient: linear-gradient(to right, $primary, $secondary);
$font-family-headings: "Raleway", sans-serif;
$font-family-body: "Open Sans", sans-serif;
