$primary: rgb(0, 204, 255);
$secondary: rgb(17, 46, 99);
$tertiary: blue;
$accent: #b4b4b4;
$shadow: $accent;

// Sizes
$height_card-small: 26rem;
$height_card-medium: 27.5rem;
$height_card-large: 28rem;
$width_card-medium: 16.5rem;
$width_card-large: 14rem;
$height_image: 15rem; 
$height_button: 1.5rem;

// Typography
$font-family-headings: "Raleway", sans-serif;
$font-family-body: "Open Sans", sans-serif;

/* Loading */
$min-height-balls: 2rem;
$width-balls: 2rem;
$ball-height: 0.75rem;
$ball-width: 0.75rem;
$ball-gap: 2rem;
$ball-padding: $ball-height;
$ball-top: $ball-padding;
$ball-color: $primary;
